body{

	min-height:500px;
	min-width:600px;
	
	}
	
	.image{
	
		padding:5px;
	
	
	}
	
	.fa-twitter-square,.fa-github-square,.fa-youtube-square{
		padding:20px;
		background-color: white;
		color:#e18a07;
	}
	
	
	.menu
	{
		display:flex;
		justify-content: center;
		align-items: center;
		flex-wrap:wrap;
	}
	
	ul{
		display: flex;
		align-items: center;
		/*background-color:#c0c0c0;*/
	
	}
	
	ul li{
		padding:20px;
		
		list-style: none;
		
		}
	
	
	.btn{
	
	padding:10px;
	border-radius:10px;
	
		}
	
	h1{
		text-align: center;
	}
	
	footer {  
		position: fixed;  
		left: 10px;  
		bottom: 5px;  
		right: 10px;   
		width: 95%;  
		background-color: gray;  
		color: white;  
		text-align: center;  
		}