body {
  background-color: darkblue;
  font-family: "Quicksand", sans-serif;
  color: #00ffff;
}

.container__buttons {
  display: flex;
  justify-content: space-around;
}

.buttons__icons:hover {
  background-color: #00ffff;
  border-radius: 20px;
}

li {
  list-style: none;
}

h1,
h2 {
  text-align: center;
}

.hacks {
  font-size: 20px;
  font-weight: bold;
}
