html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  margin: 5px 0 0 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  color: #00ffff;
  text-align: center;
  background: darkblue;
  background-size: 100% 100%;
  vertical-align: baseline;
  text-transform: uppercase;
}
ol,
ul {
  list-style: none;
  background: transparent;
}

.wrapper {
  position: relative;
  width: 390px;
  margin: 0 auto;
  background: transparent;
}

h1 {
  font-size: 40px;
}

.ToDo {
  padding: 0 30px 10px 30px;
  background: transparent;
}

.add {
  width: 250px;
  height: 35px;
  border: 1px solid white;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: transparent;
}

.add-btn {
  height: 42px;
  border: 1px solid #58a3c7;
  background-color: #58a3c7;
  font-family: "Quicksand", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0 16px;
  cursor: pointer;
}

.task-list {
  margin: 10px 0 30px 0;
  background: transparent;
}

.task-list li {
  padding: 10px 10px 4px;
  border-bottom: 1px solid #e9e9e9;
  background: transparent;
}
.task-list .done {
  background: transparent;
}

.task-list li:first-child {
  border-top: 1px solid #e9e9e9;
  background: transparent;
}

.task-list .toggle {
  margin: 0 10px 0 0;
  vertical-align: top;
  background: transparent;
}

.task-title {
  position: relative;
  top: -3px;
  display: inline-block;
  padding: 2px;
  border: 1.5 solid white;
  width: 250px;
  text-align: left;
  line-height: 13px;
  background: transparent;
}

.editing {
  background-color: #fff;
}
.done .editing {
  text-decoration: line-through;
  border-color: #f0f9ff;
}

.done .task-title {
  text-decoration: line-through;
  background: transparent;
}

.remove {
  float: right;
  width: 12px;
  height: 12px;
  text-indent: -9999px;
  margin: 0 0 0 10px;
}

.edit {
  float: right;
  width: 12px;
  height: 13px;
  text-indent: -9999px;
  margin: 0;
}

.bottom {
  overflow: hidden;
  width: 400px;
  background: transparent;
}

.progress-bar {
  display: none;
  float: left;
  width: 150px;
  height: 26px;
  border: 1px solid white;
  overflow: hidden;
  background: transparent;
}

.progress-status {
  height: 100%;
  background-color: white;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background: transparent;
}

.progress-status p {
  width: 180px;
  color: white;
  line-height: 20px;
  background: transparent;
}

.progress-status p span {
  font-weight: bold;
  background: transparent;
}

.remove-checked {
  display: none;
  text-decoration: none;
  float: left;
  background: #4a9ac0;
  margin-left: 10px;
  height: 26px;
}

.remove-checked span {
  display: inline-block;
  background: #4a9ac0 no-repeat right -47px;
  font-family: "Quicksand", sans-serif;
  color: #fff;
  padding: 0 7px;
  background: transparent;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 150, 230, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 150, 230, 0.4);
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 40px;
}

.exerciseTitle {
  font-size: 25px;
  margin: 2px;
}

.exerciseTimerText {
  font-size: 35px;
  margin: 5px;
  text-align: center;
}

.resetExerciseButton {
  margin: 2px 120px;
}

#yogaPose {
  margin: 0 50px;
}
