html,
body,
div,
span,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  margin: 5px 0 0 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  text-align: center;
  background-size: 100% 100%;
  vertical-align: baseline;
  text-transform: uppercase;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 40px;
}

.exerciseTitle {
  font-size: 25px;
  margin: 2px;
  font-weight: bold;
}

.exerciseTimerText {
  font-size: 35px;
  margin: 5px;
  text-align: center;
}

.resetExerciseButton {
  margin: 2px 120px;
}

#yogaPose {
  margin: 0 50px;
}
