* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', Poppins, Verdana, Geneva, Tahoma, sans-serif;
  /* background: salmon; */
}

div.header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Courier New', Courier, monospace, Fira Code, sans-serif;
  font-size: 1.8em;
  padding: 10px 0;
  background: #2f2f2f;
  color: #fefefe;
  border: solid #fefefe;
}

.header .text {
  font-weight: 800;
}

img.header {
  margin: 0 10px 0;
  padding: 2px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: #2f2f2f;
  height: 32px;
  width: 30px;
}

.main {
  padding: 15px 15px 10px;
}

.title {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 20px;
}

.editor-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.editor {
  margin: 0 10px 20px;
  background: #fefefe;
  padding: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.editor:hover {
  background: #f3f3f3;
  position: relative;
  bottom: 2px;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  padding-bottom: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

span.selected {
  font-style: italic;
  background: aquamarine;
  padding: 4px;
}

.button-container, .clone-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit {
  font-size: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  padding-top: 5px;
}

.switch {
  margin: 2px 0 0 10px;
}

/* slider start */
.switch {
  display: inline-block;
  position: relative;
  height: 16px;
  width: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11.9px;
  width: 11.9px;
  left: 2.3px;
  bottom: 2.3px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13.7px);
          transform: translateX(13.7px);
}

/* slider end */
.button {
  display: inline-block;
  text-align: right;
  padding: 10px 20px;
  font-family: 'Open Sans';
  font-weight: 1000;
  font-size: 1.2em;
  background: #da70d6;
  color: #fefefe;
  border-radius: 5px;
}

.button:hover {
  color: #fefefe;
  background: #ca4bc6;
  padding: 7px 17px;
  border: 3px solid orchid;
}

input.location {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px 0 5px 20px;
  padding: 3px 5px;
}

.edit.c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* border: solid; */
}

.text.c {
  padding-top: 3px;
}

img.c {
  margin: 2px 10px 0 0;
}

.footer {
  font-family: 'Fira Code', monospace, serif;
  border: solid;
  background: #1f1f1f;
  text-align: center;
  padding: 10px;
  color: white;
  margin-bottom: 1px;
}
/*# sourceMappingURL=popup.css.map */